h1 {
    text-align: center;
    background-color: blanchedalmond;
    border-radius: 50px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 10px;
}

img {
    display: block;
    border-radius: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
img:hover {
    border: 3px solid gold;
}
h1:hover {
    border: 3px solid lime;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.row div {
    float: left;
    width: 20%;
    height: 100px;
    padding: 5px;
    margin-left: 30px;
}

.hero_column {
    display: none;
}
row::after{
    content: "";
    clear:both;
    display: table;
}
.img_button {
    height: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid chocolate;
}
#mode {
    height: 100px;
    width: auto;
}
